{layout '../../launcher.php.latte'}

{block title} {$title} {/block}

{block plugincss}{/block}

{block body}bg-slate-200{/block}

{block content}
    
{/block}

{block pluginjs}{/block}
{block pagejs}
    <script src="{\AbieSoft\Utilities\Config::envReader('BASEURL')}/assets/jsa/login.js"></script>
{/block}